*{
    font-family: Arial;
}
#prviDiv{
    display:flex;
    width: 90%;
    margin-left: 10%;
}

img{
    width: 15%;
    height: 15%;
    justify-content: left;
}
#prviDiv-1{
    margin-left: 20px;
}

h1{
    float: left;
    flex-direction: row;
}

p{
clear: left;
font-size: 10px;
}
/* //////////////////////////////////////////////////////// */

#drugiDiv{
    display:flex;
    width: 100%;
}
#drugiDiv-1{
    justify-content: left;
    margin-left: 5%;
}
.vl {
    border-left: 3px solid rgb(0, 0, 0);
    height: 500px;
    left: 50%;
    margin-left: -3px;
    margin-top: 5px;
    justify-content: center;
}
#drugiDiv-2
{
    justify-content: right;
    margin-left: 5%;
}
dt{
    font-size: 25px;
    margin-left: 12%;
    margin-bottom: 5%;
    margin-top: 5%;
}

@media screen and (max-width: 600px) {
    #prviDiv{
        font-size: 20px;
    }
    img{
        margin-top: 10%;
    }
    #drugiDiv{
        display:flex;
        flex-direction: column;
        width: 80%;
        padding: 5%;
        margin: auto;
        
    }
    #drugiDiv-1{
        width: 100%;
        justify-content: center;
        border-bottom: 3px solid rgb(0, 0, 0);
        margin: auto;
    }
    .vl {
        display: none;
    }
    #drugiDiv-2
    {
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    dd{
        padding: 5%;
        font-size: 20px;
        margin-inline-start: 0%;
    }
  }